# Log files and log folder
*.log
src/logs/*.log
.src/logs/*.log
src/logs/individual/*.log
.src/logs/individual/*.log

# Pls upload no config
.src/config.php
src/config.php

# Package Files #
*.zip
*.tar.gz
*.rar
