/* REGISTER FORM */
/* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }
  
  .valid:before {
     position: relative;
     left: -35px;
     content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
     color: red;
  }
  
  .invalid:before {
     position: relative;
     left: -35px;
     content: "✖";
  }
/* REGISTER FORM END*/

/* TAGS */
#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
/* END TAGS */

/* MODAL CSS */
.modal-backdrop{
  z-index: 1;
}

.modal {
  top: 250px;
  color: #000;
}

/* Site css */

html {
   font-size: 62.5%;
 }

 .btn {
  font-size: 1.6rem;
 }
 
 body {
   font-size: 1.6rem;
   font-family: "PT Sans", sans-serif;
   color: #FFF;
   background-color: #101417;
 }

 .memecards {
   background-color: #455766;
   border-style: 2px solid #1c2329;
   border-radius: 25px;
   padding: 20px;
   margin-bottom: 3px;
 }

 .divmemeimage {
   border-right: 2px solid #1c2329;
 }
 .memeimage {
   width: 100%;
   min-width : 200px;
   min-height : 200px;
   max-height: 750px
 }

 .user-thumbnail {
   max-width: 75px;
   max-height: 75px;
 }
 .oneline {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
 }
 .top-comment {
   display: block; /* or inline-block */
   text-overflow: ellipsis;
   word-wrap: break-word;
   overflow: hidden;
   max-height: 3.6em;
   line-height: 1.8em;
 }

 .memecomment{
  word-wrap: break-word;
 }

 .divmemeinfo {
   background-color: #455766;
 }

 .memepageimage {
  overflow: hidden;
  max-width: 100%;
 }

 .memereport {
  position: absolute;
  bottom: 5px;
  width: 100%;
 }

 .memeaccountimage {
  top: 25px;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
 }

 .upvote {
  color: Tomato;
 }
 .downvote {
  color: Dodgerblue;
 }

 .searchbar {
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
 }
/* End site css */