<?php
  //This file will be used for database connections and such.
  // Insert your database connection

      //For custom error handling, add this to your "failed" if statement:
        //$errormessage = "";
        //file_put_contents('/logs/log_db-fail'.date("j.n.Y_h:i:s").'.txt', $errormessage);

      // Configurations are stored in an array.
      $config = array();

      // Database configuration settings for MySQL instance
        $config['mysql']['hostname'] = "";
        $config['mysql']['username'] = "";
        $config['mysql']['password'] = "";
        $config['mysql']['database'] = "";

      // Log location (default: /src/logs)
        $config['logs'] = "/src/logs";


      // Required for discordauth
        $config['discordclientid'] = '';
        $config['discordclientsecret'] = '';
        $config['discordbottoken'] = '';
        $config['discordredirecturi'] = 'http://../src/discordauth.php';

      // For discord role-authentication
        $config['discordguildid'] = ;
        $config['allowedrole'] = "644314678121179742237, 64431804646775923202107";

      // The key from google for recaptcha
        $config['recaptchakey'] = "";
        $config['recaptchakeysecret'] = "";
 
?>

